@{
    ViewData["Title"] = "授权设备";
}

<div class="row justify-content-md-center">
    <div class="col-sm-8">
        <div class="page-device-success">
            <div class="lead">
                <h1>成功</h1>
                <p>你成功授权了该设备</p>
            </div>
        </div>
    </div>
</div>
