/*APP安卓下载*/
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

    .logo img {
        width: 70px;
    }

.boxer {
    background: #fff url(../images/bg.png) no-repeat center;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.box1 {
    width: 1156px;
    margin: 9rem auto 0;
    overflow: hidden;
    box-shadow: 0px 0px 13px 5px rgba(14,25,80,.2);
    border-radius: 10px;
}

.disable_login {
    height: 200px;
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
}

.middle1 {
    overflow: hidden;
}

.middle_left {
    float: left;
    width: 716px;
    height: 600px;
    background-color: #fff;
    background: url('../images/bg1.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.title_box {
    text-align: center;
    margin: 30% 20%
}

.main_title {
    font-size: 33px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.sub_title {
    font-size: 21px;
    color: whitesmoke;
}

.middle_right {
    width: 440px;
    height: 600px;
    float: right;
    background: #fff;
}

.mr_box {
    width: 318px;
    margin: 0 auto;
    margin-top: 60px;
}

    .mr_box form {
        text-align: center;
    }

    .mr_box h2 {
        letter-spacing: 2px;
        margin-bottom: 50px;
        display: block;
        text-align: center;
        color: #0092e7;
        font-size: 30px;
    }

input::-webkit-input-placeholder {
    color: #c1c1c1;
}

.form-group {
    margin-bottom: 44px;
    position: relative;
}

.mar_b {
    margin-bottom: 20px;
}

.form-control {
    height: 48px;
    width: 278px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 40px;
}

.login {
    height: 56px;
    line-height: 56px;
    width: 82%;
    border: none;
    border-radius: 60px;
    background: #14a7ff;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .3s all linear;
    margin-top: 40px;
}

    .login:hover {
        background: #0a98eb;
        transition: .3s all linear;
    }
/* 记住密码 */
.f_pass {
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    margin: 6px 0;
}

.font-s {
    position: relative;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
    text-align: right;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-label {
    font-size: 15px;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #e5ebfa;
    border-color: #e5ebfa;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #bac8f3;
}

.custom-control-input:focus ~ .custom-control-label::before {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(78,115,223,.25);
    box-shadow: 0 0 0 0.2rem rgba(78,115,223,.25);
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #059df6;
    background-color: #059df6;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 4px;
}

.custom-control-label::before, .custom-file-label, .custom-select {
    -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.custom-control-label::before {
    position: absolute;
    top: 1px;
    right: 64px;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #b7b9cc solid 1px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background: url(../images/duigou.png) no-repeat;
}

.custom-control-label::after {
    position: absolute;
    top: 5px;
    right: 62px;
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background: no-repeat 50%/50% 50%;
}
/* 密码错误 */
.f_pass_n {
}

.f_pass i {
    margin: 11px 6px 0 0;
}

.f_pass p {
    color: #dc0a0a;
    text-align: left;
}

@media screen and (min-width: 960px) and (max-width:1200px) {
    .box1 {
        margin-top: 144px;
        width: 960px;
        ;
    }

    .mr_box {
        margin-top: 40px;
    }

        .mr_box h2 {
            margin-bottom: 26px;
        }

    .middle_left {
        width: 560px;
    }

        .middle_left img {
            width: 100%;
            height: 470px;
        }

    .middle1 {
        overflow: hidden;
        height: 470px;
    }

    .middle_right {
        width: 400px;
        overflow: hidden;
        height: 470px;
    }

    .login {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 960px) {
    .box1 {
        margin-top: 80px;
        width: 418px;
    }

    .mr_box {
        margin-top: 40px;
    }

        .mr_box h2 {
            margin-bottom: 34px;
        }

    .middle_left {
        display: none;
        float: none;
    }

    .middle_right {
        float: none;
        margin: 0 auto;
        overflow: hidden;
        height: 470px;
        width: 418px;
    }

    .login {
        margin-top: 18px;
    }

    .form-group {
        margin-bottom: 28px;
    }
}
