@model RedirectViewModel

<div class="redirect-page">
    <div class="lead">
        <h1>你正跳转到指定应用...</h1>
        <p>操作完成后，您可以关闭此标签。</p>
    </div>
</div>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
