@{
    ViewData["Title"] = "拒绝访问";
}

<div class="row justify-content-md-center">
    <div class="col-sm-8">
        <div class="container">
            <div class="lead">
                <h1>拒绝访问</h1>
                <p>你没有访问该资源的权限，请联系管理员。</p>
            </div>
        </div>
    </div>
</div>