@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="height: 100%;">
<head>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta http-equiv="Content-Type" content=text/html; charset=utf-8" />
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/login/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/login/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/login/font/iconfont.css" />
</head>
<body style="height:100%;">
    <div class="boxer">
        <div class="box1">
            @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
            {
                <div class="disable_login">
                    <strong>非法的登录请求</strong><br />
                    There are no login schemes configured for this request.
                </div>
            }
            else
            {
                <div class="middle1">
                    <div class="middle_left">
                        <div class="title_box">
                            <p class="main_title">通用权限管理系统</p>
                            <p class="sub_title">前后端分离、.NET5、单点登录、基于角色的权限管理</p>
                        </div>
                    </div>
                    <div class="middle_right">
                        <div class="mr_box">
                            <h2>欢迎登录</h2>
                            <form action="#">
                                <div class="form-group" style="display:none">
                                    <input type="text" id="ReturnUrl" value="@Model.ReturnUrl" />
                                </div>
                                <div class="form-group">
                                    <span class="iconfont icon-Profile icon_p"></span>
                                    <input type="text" class="form-control icon-user" id="Username" placeholder="请输入您的用户名/手机号/邮箱" />
                                </div>
                                <div class="form-group mar_b">
                                    <span class="iconfont icon-Unlock icon_p"></span>
                                    <input type="password" class="form-control icon-pass" id="Password" placeholder="请输入您的密码" />
                                </div>
                                <div class="form-check font-s">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="RememberLogin" />
                                        <label class="custom-control-label" for="RememberLogin">记住密码</label>
                                    </div>
                                </div>

                                @if (Model.VisibleExternalProviders.Any())
                                {
                                    <div class="col-sm-6" style="margin: auto;">
                                        <div class="card">
                                            @*<div class="card-header">
                                                    <h2>外部登录</h2>
                                                </div>*@
                                            <div class="card-body">
                                                <ul class="list-inline">
                                                    @foreach (var provider in Model.VisibleExternalProviders)
                                                    {
                                                        <li class="list-inline-item">
                                                            <a class="btn btn-secondary"
                                                               asp-controller="External"
                                                               asp-action="Challenge"
                                                               asp-route-scheme="@provider.AuthenticationScheme"
                                                               asp-route-returnUrl="@Model.ReturnUrl">
                                                                @provider.DisplayName
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (!ViewContext.ModelState.IsValid)
                                {
                                    <div class="f_pass">
                                        <div class="f_pass_n">
                                            <i class="fl"><img src="/login/images/sq.png" /></i>
                                            <div asp-validation-summary="All"></div>
                                        </div>
                                    </div>
                                }

                                <button type="submit" class="login" onclick="login(); return false;">登录</button>
                            </form>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/encrypt/sha256.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/layer.js"></script>
    <script>
        function login() {
            var username = $("#Username").val();
            var password = $("#Password").val();
            var rememberLogin = $("#RememberLogin").val() === "on" ? true : false;
            var returnUrl = $("#ReturnUrl").val();
            var code = "oncemi";

            if (username == undefined || username.length == 0) {
                layer.tips('请输入您的用户名/手机号/邮箱。', '#Username', {
                    tips: [3, '#14a7ff'],
                    time: 4000
                });
                return;
            }
            if (password == undefined || password.length == 0) {
                layer.tips('请输入密码。', '#Password', {
                    tips: [3, '#14a7ff'],
                    time: 4000
                });
                return;
            }
            layer.msg('登录中...', {
                icon: 16,
                shade: 0.01,
                time: 2000000
            });
            $.post("/Account/Login?button=login", {
                Username: username,
                Password: sha256(password).toLowerCase(),
                RememberLogin: rememberLogin,
                ReturnUrl: returnUrl,
                Code: code
            },
                function (data, status) {
                    layer.closeAll();
                    if (status == "success" && data != "" && data != undefined && data != null) {
                        var dataObj;
                        if (typeof (data) == "string") {
                            var start = data.indexOf("{");
                            var end = data.lastIndexOf("}") + 1;
                            var clearJson = data.substring(start, end);
                            dataObj = eval('(' + clearJson + ')');
                        }
                        else {
                            dataObj = data;
                        }
                        if (dataObj.code == 0) {
                            $("#layui-layer" + layer.msg("登录成功，即将跳转...")).find(".layui-layer-content").css("color", "white");
                            var redirectUrl = "/";
                            if (dataObj.data != null && dataObj.data.isRedirect && dataObj.data.redirectUrl != null) {
                                redirectUrl = dataObj.data.redirectUrl;
                            }
                            setTimeout(function () {
                                window.location.href = redirectUrl;
                            }, 1000);
                        }
                        else {
                            layer.msg(dataObj.message, { icon: 5 });
                        }

                    } else {
                        layer.msg("danger", "提交失败，请检查网络状态！", { icon: 5 });
                    }
                });
        }
    </script>
</body>
</html>